/*
Azul: #142449
Azul 85%: #374564
Oro: #A78C55background-color


https://www.materialui.co/colors
Grisazul claro: #90A4AE <-- 300
Grisazul fuerte: #546E7A <-- 600
*/

.header{
    background-color: #374564 !important;
}

.header-logo{
    height: 60px;
    padding: 0rem .5rem;
}

.header > .header__logo > h1 > a > .oro{
    color: #A78C55;
    font-weight: bold;
}

.navigation__active a{
    color: #A78C55 !important;
}


.bluegray-ultralight-bg{ background-color: #CFD8DC !important; }
.bluegray-ultralight{ color: #CFD8DC !important; }

.bluegray-light-bg{ background-color: #90A4AE !important; }
.bluegray-light{ color: #90A4AE !important; }

.bluegray-accent-bg{ background-color: #546E7A !important; }
.bluegray-accent{ color: #546E7A !important; }



.btn-outline-puma{
    // background-color: #374564 !important;
    color: #374564;
    border-color: #374564 !important;
}

.btn-puma-off{
    background-color: #CFD8DC !important;
    color: #374564;
}

.logout-icon{
     margin-right: .8rem;
     /* width: 1.5rem; */
     font-size: 1.3rem !important;
}

.logout-button{
    font-weight: 500;
    padding: .85rem .7rem;
}

.event_image{
    max-height: 75px;
}

.event_image_slideshow_card_container{
    padding-bottom: 0px !important;
}

.event_image_slideshow{
    // max-height: 175px;
    min-width: 100%;
}

.pull-right{
    text-align: right;
    align: right;
    float: right;
}

// Datetimepicker edit
// bootstrap-datetimepicker-widget
// .bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
.bootstrap-datetimepicker-widget{
    width: 400px !important;
}

.timepicker-hours{
    color: gray;
}


/* Venue styles */
#venue{
    position: relative;
}

.img-venue{
    position: absolute;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 3px;
}

.seat-type-label{
    display: inline-block;
}

.total, .less, .more{
    width: 40px;
}

#order_total{
    width: 80px !important;
    /* color: #374564; */
    color: red;
    font-weight: bold;
}

#label_total, #order_total, .spacer{
    display: inline-block;
}

.spacer{
    width: 100px !important;
}

.less, .more{
    color: #374564;
}

.total{
    color: #2aa872;
    font-weight: bold;
}

#comprar{
    margin-right: 100px;
}

.match-header h1{
    font-size: 3.5rem;
}

.match-header small{
    font-size: 1.5rem;
}

.stat_header > h4{
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: white;
}

.stat_data{
    font-size: 1.4rem;
    padding-bottom: 20px;
    min-height: 7rem;
}

.bg-pumas{
    // background-color: #374564;
    // background-color: #5c6165;
    // background-color: rgba(149, 149, 149, 0.65);
    background-color: #B5B5B5;
}

.table-responsive{
    overflow-y: hidden;
}

.calendar{
    margin-bottom: 0px !important;
}

.calendar-card{
    padding-top: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.card.calendar-card{
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.075);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.075);
}

.system-card-container{
    height: 19em;
}

.system-card{
    min-height: 100%;
}

.system-img{
    height: 6em;
}

/* General styles */
.p-0{ padding: 0px; }

.p-t-10{ padding-top: 10px; }
.p-r-10{ padding-right: 10px; }
.p-b-10{ padding-bottom: 10px; }
.p-l-10{ padding-left: 10px; }
.p-t-15{ padding-top: 15px; }
.p-r-15{ padding-right: 15px; }
.p-b-15{ padding-bottom: 15px; }
.p-l-15{ padding-left: 15px; }
.p-t-20{ padding-top: 20px; }
.p-r-20{ padding-right: 20px; }
.p-b-20{ padding-bottom: 20px; }
.p-l-20{ padding-left: 20px; }
.p-t-25{ padding-top: 25px; }
.p-r-25{ padding-right: 25px; }
.p-b-25{ padding-bottom: 25px; }
.p-l-25{ padding-left: 25px; }
.p-t-30{ padding-top: 30px; }
.p-r-30{ padding-right: 30px; }
.p-b-30{ padding-bottom: 30px; }
.p-l-30{ padding-left: 30px; }
.p-t-35{ padding-top: 35px; }
.p-r-35{ padding-right: 35px; }
.p-b-35{ padding-bottom: 35px; }
.p-l-35{ padding-left: 35px; }
.p-t-40{ padding-top: 40px; }
.p-r-40{ padding-right: 40px; }
.p-b-40{ padding-bottom: 40px; }
.p-l-40{ padding-left: 40px; }
.p-t-45{ padding-top: 45px; }
.p-r-45{ padding-right: 45px; }
.p-b-45{ padding-bottom: 45px; }
.p-l-45{ padding-left: 45px; }
.p-t-50{ padding-top: 50px; }
.p-r-50{ padding-right: 50px; }
.p-b-50{ padding-bottom: 50px; }
.p-l-50{ padding-left: 50px; }

.p-b-10{ padding-bottom: 10px; }
.p-r-10{ padding-right: 10px; }
.p-b-10{ padding-bottom: 10px; }
.p-l-10{ padding-left: 10px; }
.p-b-15{ padding-bottom: 15px; }
.p-r-15{ padding-right: 15px; }
.p-b-15{ padding-bottom: 15px; }
.p-l-15{ padding-left: 15px; }
.p-b-20{ padding-bottom: 20px; }
.p-r-20{ padding-right: 20px; }
.p-b-20{ padding-bottom: 20px; }
.p-l-20{ padding-left: 20px; }
.p-b-25{ padding-bottom: 25px; }
.p-r-25{ padding-right: 25px; }
.p-b-25{ padding-bottom: 25px; }
.p-l-25{ padding-left: 25px; }
.p-b-30{ padding-bottom: 30px; }
.p-r-30{ padding-right: 30px; }
.p-b-30{ padding-bottom: 30px; }
.p-l-30{ padding-left: 30px; }
.p-b-35{ padding-bottom: 35px; }
.p-r-35{ padding-right: 35px; }
.p-b-35{ padding-bottom: 35px; }
.p-l-35{ padding-left: 35px; }
.p-b-40{ padding-bottom: 40px; }
.p-r-40{ padding-right: 40px; }
.p-b-40{ padding-bottom: 40px; }
.p-l-40{ padding-left: 40px; }
.p-b-45{ padding-bottom: 45px; }
.p-r-45{ padding-right: 45px; }
.p-b-45{ padding-bottom: 45px; }
.p-l-45{ padding-left: 45px; }
.p-b-50{ padding-bottom: 50px; }
.p-r-50{ padding-right: 50px; }
.p-b-50{ padding-bottom: 50px; }
.p-l-50{ padding-left: 50px; }


.m-t-10{ margin-top: 10px; }
.m-r-10{ margin-right: 10px; }
.m-b-10{ margin-bottom: 10px; }
.m-l-10{ margin-left: 10px; }
.m-t-15{ margin-top: 15px; }
.m-r-15{ margin-right: 15px; }
.m-b-15{ margin-bottom: 15px; }
.m-l-15{ margin-left: 15px; }
.m-t-20{ margin-top: 20px; }
.m-r-20{ margin-right: 20px; }
.m-b-20{ margin-bottom: 20px; }
.m-l-20{ margin-left: 20px; }
.m-t-25{ margin-top: 25px; }
.m-r-25{ margin-right: 25px; }
.m-b-25{ margin-bottom: 25px; }
.m-l-25{ margin-left: 25px; }
.m-t-30{ margin-top: 30px; }
.m-r-30{ margin-right: 30px; }
.m-b-30{ margin-bottom: 30px; }
.m-l-30{ margin-left: 30px; }
.m-t-35{ margin-top: 35px; }
.m-r-35{ margin-right: 35px; }
.m-b-35{ margin-bottom: 35px; }
.m-l-35{ margin-left: 35px; }
.m-t-40{ margin-top: 40px; }
.m-r-40{ margin-right: 40px; }
.m-b-40{ margin-bottom: 40px; }
.m-l-40{ margin-left: 40px; }
.m-t-45{ margin-top: 45px; }
.m-r-45{ margin-right: 45px; }
.m-b-45{ margin-bottom: 45px; }
.m-l-45{ margin-left: 45px; }
.m-t-50{ margin-top: 50px; }
.m-r-50{ margin-right: 50px; }
.m-b-50{ margin-bottom: 50px; }
.m-l-50{ margin-left: 50px; }

.m-b-10{ margin-bottom: 10px; }
.m-r-10{ margin-right: 10px; }
.m-b-10{ margin-bottom: 10px; }
.m-l-10{ margin-left: 10px; }
.m-b-15{ margin-bottom: 15px; }
.m-r-15{ margin-right: 15px; }
.m-b-15{ margin-bottom: 15px; }
.m-l-15{ margin-left: 15px; }
.m-b-20{ margin-bottom: 20px; }
.m-r-20{ margin-right: 20px; }
.m-b-20{ margin-bottom: 20px; }
.m-l-20{ margin-left: 20px; }
.m-b-25{ margin-bottom: 25px; }
.m-r-25{ margin-right: 25px; }
.m-b-25{ margin-bottom: 25px; }
.m-l-25{ margin-left: 25px; }
.m-b-30{ margin-bottom: 30px; }
.m-r-30{ margin-right: 30px; }
.m-b-30{ margin-bottom: 30px; }
.m-l-30{ margin-left: 30px; }
.m-b-35{ margin-bottom: 35px; }
.m-r-35{ margin-right: 35px; }
.m-b-35{ margin-bottom: 35px; }
.m-l-35{ margin-left: 35px; }
.m-b-40{ margin-bottom: 40px; }
.m-r-40{ margin-right: 40px; }
.m-b-40{ margin-bottom: 40px; }
.m-l-40{ margin-left: 40px; }
.m-b-45{ margin-bottom: 45px; }
.m-r-45{ margin-right: 45px; }
.m-b-45{ margin-bottom: 45px; }
.m-l-45{ margin-left: 45px; }
.m-b-50{ margin-bottom: 50px; }
.m-r-50{ margin-right: 50px; }
.m-b-50{ margin-bottom: 50px; }
.m-l-50{ margin-left: 50px; }
